<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @estado_civil.descricao %>
</p>


<%= link_to 'Edit', edit_estado_civil_path(@estado_civil) %> |
<%= link_to 'Back', estado_civils_path %>
